---
layout: default
---

<div class="home">
	<div id="recent-posts" class="container-fluid">
	<div class="row">
	<div class="col-xs-12 col-sm-6">
    {% for post in site.posts limit:26 %}
		{% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}
		{% if modulo == '0' %}
			<a href="{{post.url}}" class="post-excerpt {% if post.photo_url %}photo{% endif %}">
				<div class="post-container">
				<h1 class="title">{{post.title}}</h1>
				{% if post.photo_url %}
					<div style="background-image:url('{{post.photo_url}}')" class="image"></div>
				{% else %}
					 <info datetime="{{ page.date | date: "%Y-%m-%d" }}">
					  {{ post.date | date: "%b %Y" }}
					</info>
					{% if post.description %}
					<span>{{ post.description | strip_html }}</span>
					{% else %}
					<span>{{post.content | strip_html | truncatewords: 50}}</span>
					{% endif %}
				{% endif %}
				</div>
			</a>
		{% endif %}
    {% endfor %}
	</div>
	<div class="col-xs-12 col-sm-6">
	  {% for post in site.posts limit:26 %}
		{% capture modulo %}{{ forloop.index0 | mod:2 }}{% endcapture %}
		{% if modulo == '1' %}
			<a href="{{post.url}}" class="post-excerpt {% if post.photo_url %} photo {% endif %}">
				<div class="post-container">
				<h1 class="title">{{post.title}}</h1>
				{% if post.photo_url %}
					<div style="background-image:url('{{post.photo_url}}')" class="image"></div>
				{% else %}
					{% if post.description %}
					<span>{{ post.description | strip_html }}</span>
					{% else %}
					<span>{{post.content | strip_html | truncatewords: 50}}</span>
					{% endif %}
				{% endif %}
				</div>
			</a>
		{% endif %}
    {% endfor %}
	</div>
	</div>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
